:root {
	--neutral-light: #F0F0F0;
	--neutral-dark: #030200;
	--brand_primary: #E59514;
	--brand_primary-darken: #EDB55B;
  }

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
  
body {
	background: var(--neutral-dark);
	max-width: 1440px;
	margin: 0 auto;
}

h1 {
	color: var(--brand_primary);
	font-family: "Rufina", serif;
	font-weight: 700;
	font-size: 48pt;	
	margin: 32px 0 8px 0;
}

h2 {
	color: var(--neutral-light);
	font-family: "Rufina", serif;
	font-weight: 700;
	font-size: 24pt;
	margin: 12px 0;
}


p {
	color: var(--neutral-light);
	font-family: "Open Sans",sans-serif;
	font-weight: 200;
	font-size: 14pt;
	line-height: 150%;
	margin-bottom: 10px;
}

ul {
	padding: 0;
}

.nav-item {
	display: inline;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 14pt;
	color: var(--brand_primary);
	text-decoration: none;
	margin: 0 32px 0 0;
	list-style: none;
}


a {
	color: var(--brand_primary);
	transition: color .350s;
}

a:hover {
	color: var(--brand_primary-darken);
	transition: color .350s;
}

#subtitle {
	color: var(--neutral-light);
	font-family: "Open Sans",sans-serif;
	font-weight: 200;
	font-size: 14pt;	
}


#intro_block {
	/* margin-left: 4%; */
	margin-bottom: 80px;
}

.parent {	
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 6px;
	grid-row-gap: 6px;
}

.div1 { grid-area: 2 / 1 / 4 / 3; }
.div2 { grid-area: 1 / 4 / 4 / 6; }
.div3 { grid-area: 4 / 2 / 7 / 5; }

.div4 { grid-area: 1 / 2 / 2 / 3; }
.div5 { grid-area: 3 / 3 / 4 / 4; }
.div6 { grid-area: 2 / 6 / 3 / 7; }
.div7 { grid-area: 5 / 1 / 6 / 2; }
.div8 { grid-area: 6 / 5 / 7 / 6; }

.gallery_img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.block {
	width: 100%;
	height: 100%;
	background-color: var(--brand_primary);
}

.flex-grid {
	display: flex;
}

.nav-grid {
	display: flex;
}

.col {
	flex: 1;
	padding: 20px;
}

@media (max-width: 875px) {
  .flex-grid {
    flex-direction: column;
  }
  h1 {
	font-size: 28pt;	
  }
}